


    [nz-carousel-content] {
      text-align: center;
      height: 1560px;
      line-height: 160px;
      background: #364d79;
      color: #fff;
      overflow: hidden;
    }

    h3 {
      color: #fff;
    }

    .loginInput{
      width: 380px;
      border:none;border-bottom: 1px solid #e1e1e1; border-radius: 0px;
      padding-left: 0;
      font-size: 14px;
    }

    .loginInput:focus {
      border-color: #40a9ff;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
      border-right-width: 1px !important;
    }


    .login-tabBtn {
      font-size: 18px;
      font-weight: bold;
      border-radius: 0px;
      color: black;
      border: none; box-shadow: none; padding: 0
    }
    .login-btn >  .ant-radio-button-wrapper-checked{
      color: black;
      border-bottom:  2px solid #2666f8 !important;

    }

    .ant-radio-button-wrapper:not(:first-child)::before{
      display: none;
    }


    .login-form-button{
      width: 100%;
      line-height: 50px;
      height: 50px;
      //color: #2666f8;
      border-radius: 5px;
    }


    .voteBtn {
      cursor: pointer; outline: none; border: none;background: none;color: #2666f8
    }
    .voteBtn:disabled{
      color: rgba(0, 0, 0, 0.65) !important;
      cursor: not-allowed  !important;
    }



    .tplContent-wrap{
      font-size: 14px;
      color: #30353f;
      margin-bottom: 10px;

    }

    .tplContent-wrap p{
      margin-bottom: 10px;
      font-weight: bold;

    }
    .tplFooter{
      line-height: 50px;
      text-align: center;

    }
    .tplFooter button{
      width: 160px;

    }

    .login-wrap {
      text-align: center ;max-width: 1200px; width: 100%  ; padding: 150px 0; border-radius: 5px
    }

    .login-bg {
      background-color: #fff; display: inline-block
    }

    .login-l {
      display: inline-block;width: 240px;vertical-align: top
    }

    .login-r {
      display: inline-block;width: 440px; padding-top: 29px; padding-left: 30px
    }

    .text-l {
       text-align: left
    }

    .login-btn {
      width: 380px
    }

    .margin-l-55 {
      margin-left: 55px
    }

    .login-form-wrap {
      background: #fff;padding: 50px 0 0 0; text-align: left
    }

    .margin-b-0 {
      margin-bottom: 0px
    }

    .login-rember-ctrl {
      text-align: left;padding-top: 47px
    }

    .login-vote-wrap {
      display: inline-block; position: absolute;  right: 0 ;  top: 5px; z-index: 2
    }


    .tpl-h2{
      background: #f1f1f1;font-size: 16px; line-height: 35px;text-align: center;margin: 0;font-weight: bold
    }

    .login-tab-register {
      background: #fff;padding: 50px 0 0 0 ; text-align: left
    }
