<div class="container pad-0-18">

  <div class="agreeMain ">

    <h2 class="agreeMain-tit"  >顺唐生物服务协议</h2>

    <div class="pad-0-18">
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          定义解释
        </p>
        <p class="agreeMain-p">
          “用户”，是指购买并使用顺唐生物任何产品的用户；提供口腔上皮细胞样本或唾液样本的用户；上传基因检测数据的用户；注册及未注册，任何访问顺唐生物官方网站或顺唐生物微信公众号及任何顺唐生物授权平台的用户；本协议中，称为“您”的表述。
        </p>
        <p class="agreeMain-p">
          “顺唐生物”，即为顺唐生物科技（北京）有限公司，包含整个基因检测、产品研发、试剂耗材、技术服务业务等相关团队。
        </p>
        <p class="agreeMain-p">
          “服务”，指顺唐生物提供的基因产品、产品研发、试剂耗材、技术服务，网站及顺唐生物授权的平台（包括但不限于文本、视频、图形，其他信息和内容），以及所有顺唐生物对其进行更新的内容。
        </p>
        <p class="agreeMain-p">
          “个人信息”，是指创建及注册用户时的标识信息，包括但不限于个人注册信息、用户基因信息、用户产生的报告内容、网络行为信息。
        </p>
      </div>

      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          接受条款
        </p>
        <p class="agreeMain-p">
          如果您决定购买我们的服务，表示您已全部同意和接受本服务协议。请您仔细阅读本服务协议，切实了解购买我们产品及服务时，您的自身权益和限制。
        </p>
        <p class="agreeMain-p">
          如您不接受本服务协议，请勿购买。
        </p>
        <p class="agreeMain-p">
          如您在阅读协议时遇到任何疑问，欢迎联系我们。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          人群要求
        </p>
        <p class="agreeMain-p">
          可以对自己行为负责，具有完全民事行为能力。如您未满18岁或民事行为能力不完整，需在监护人监督下，知情并认可本服务协议。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          服务范围
        </p>
        <p class="agreeMain-p">
          随着科技的不断发展和进步，您承认并同意顺唐生物的服务在没有通知您的前提下有所更新和改变。任何时候您想停止使用顺唐生物的服务或撤销个人账号，请联系我们。
        </p>
        <p class="agreeMain-p">
          对于任何超出该协议或相关条款服务范围的事项，顺唐生物科技（北京）有限公司不予以负责。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          相关风险
        </p>
        <p class="agreeMain-p">
          鉴于当前人类对于生物基因领域的认知尚不完整，科学研究和技术发展还处于成长期，我们不能保证提供全部完整的信息。随着科研的不断进步和发展，更多信息可能需要您主动通过顺唐生物的升级服务，或者询问相关医生、遗传咨询师或其他健康专业机构获得。
        </p>
        <p class="agreeMain-p">
          顺唐生物的检测结果可能出现您未预期到的内容，例如：可能高于平均水平的疾病风险，这有可能会在心理及生活中对您产生一定的困扰，或对您的健康产生一定影响，甚至产生社会、法律、经济上的相关影响。
        </p>
        <p class="agreeMain-p">
          我们鼓励并非常建议您与遗传咨询师或医生进行交流，对于可能出现的心理或身体的风险，您可以尽早前往专业机构采取相关检查措施。
        </p>
        <p class="agreeMain-p">
          如果您的口腔上皮细胞样本或唾液样本中未含有符合实验要求的DNA含量，我们可能会要求您重新采集并提供口腔上皮细胞样本或唾液样本。如果上述情况是由于您在采集过程中的失误导致的，顺唐基生物可能会要求您自行承担样本采集器及快递费用。
        </p>
        <p class="agreeMain-p">
          如果超过两次均采集失败，顺唐生物有权单方面中止对您的服务，并退还未产生的费用，退还费用包括您购买产品的费用减去样本采集器的费用以及快递的费用、顺唐生物已为您提供的服务而实际产生的费用。如因未知因素或者不可归咎于顺唐生物的因素，所产生数据不可用或不准确（称为“误差”），由于这种可能性是预知的，用户无权因误差要求退款。

        <p class="agreeMain-p">
          如果因顺唐生物的原因造成检测失败的，我们将免费为您提供持续的检测服务至成功；如您愿意，我们亦可根据您的要求对失败的检测进行全额退款。
        </p>
        <p class="agreeMain-p">
          采取任何改变生活习惯的行为之前，请咨询专业的医生。对于大多数疾病，基因仅是其致病因素中的一部分，因此您可能不需要仅针对基因检测结果就改变自己的生活习惯，应对措施应以专业医生意见为准。同时，疾病风险与疾病发生的关系可能不是直接的，环境、心理状态、饮食等多种因素均可导致疾病的发生或发展，或随着未来更多更深入的研究结果，也有可能带来与目前基因研究的现状不同甚至可能会产生冲突的结果。
        </p>
        <p class="agreeMain-p">
          请慎重向他人分享您的基因结果。顺唐生物提醒您应注重个人隐私，如有疑问请咨询律师或相关机构。个人基因信息在医疗上可以提供一定的建议或根据，但不完全等同于专业的医疗建议。顺唐生物不提供任何医疗性的咨询服务，基因检测结果也不能作为医疗诊断的主要依据。如果您有任何关于诊断、治疗、预防任何疾病状况或您的健康状况有问题，您应该直接咨询医生或者医疗机构。
        </p>
        <p class="agreeMain-p">
          顺唐生物不提供教育决定。人的特质表象（如运动、记忆等天赋）由基因与环境共同决定，顺唐生物的检测结果仅仅作为您了解自己在某些特质方面的倾向性，不能作为您培养或培育的依据。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          隐私声明
        </p>
        <p class="agreeMain-p">
          为了使用顺唐生物的服务，您应该首先确认并同意顺唐生物的隐私保护协议。如果您不同意隐私保护协议中的条款，您不得使用顺唐生物的服务。一旦您使用顺唐生物的服务，就表明您同意顺唐生物的隐私保护协议。
        </p>
        <p class="agreeMain-p">
          您承认顺唐生物有权对您使用网站或者顺唐生物 其他授权平台的所有行为进行监控，保留此类行为数据，顺唐生物有权对这些行为数据进行分析。
        </p>
        <p class="agreeMain-p">
          您同意顺唐生物对于系统的维护、管理和调试。
        </p>
        <p class="agreeMain-p">
          根据您的意愿或者法律法规，顺唐生物会在以下情形全部或部分披露您的信息：经您事先同意，向第三方披露；根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；其它根据法律、法规或者网站政策认为合适的披露。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          用户知悉
        </p>
        <p class="agreeMain-p">
          您有义务保证您提供给顺唐生物的口腔上皮细胞样本或唾液样本是您本人的口腔上皮细胞或唾液，并允许顺唐生物分析口腔上皮细胞样本或唾液样本、向您展示基因检测报告。
        </p>
        <p class="agreeMain-p">
          您同意将口腔上皮细胞样本或唾液样本寄回至顺唐生物后，样本是不可返回的。顺唐生物有权对样本进行合理处理，并提供相应的服务。
        </p>
        <p class="agreeMain-p">
          顺唐生物提供当前的解读报告，只是代表一个可能性检测意见，并不等同于临床诊断结果。如对报告结果存在疑问的，请向相关具有资质的医院就诊。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          账户安全
        </p>
        <p class="agreeMain-p">
          顺唐生物对于保护您的账号隐私信息非常关注，如发生账号未经授权使用等安全问题，请立即联系顺唐生物；如果您因个人原因造成了账户信息泄漏的，对因此产生的隐私信息风险，我们不予以负责。
        </p>
        <p class="agreeMain-p">
          您有义务在创建账号时，提供正确、有效的个人信息，如果由于您未及时更新顺唐生物注册信息，或提供任何错误、违法、不道德或顺唐生物认为违反相关政策的信息，顺唐生物有权暂停或终止对您账号的服务，并由此导致的隐私泄漏将由您自己负责。
        </p>
        <p class="agreeMain-p">
          如您的顺唐生物账户对您、顺唐生物或第三方造成损害，您应为此承担全部责任。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          用户禁止
        </p>
        <p class="agreeMain-p">
          如您同意使用顺唐生物服务，表明您已同意不得利用顺唐生物服务制作、上载、复制、发布、传播或者转载如下内容：
        </p>
        <p class="agreeMain-p">
          1. 反对宪法所确定的基本原则的；
        </p>
        <p class="agreeMain-p">
          2. 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        </p>
        <p class="agreeMain-p">
          3. 损害国家荣誉和利益的；
        </p>
        <p class="agreeMain-p">
          4. 煽动民族仇恨、民族歧视，破坏民族团结的；
        </p>
        <p class="agreeMain-p">
          5. 破坏国家宗教政策，宣扬邪教和封建迷信的；
        </p>
        <p class="agreeMain-p">
          6. 散布谣言，扰乱社会秩序，破坏社会稳定的；
        </p>
        <p class="agreeMain-p">
          7. 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        </p>
        <p class="agreeMain-p">
          8. 侮辱或者诽谤他人，侵害他人合法权益的；
        </p>
        <p class="agreeMain-p">
          9. 含有法律、行政法规禁止的其他内容的信息；
        </p>
        <p class="agreeMain-p">
          10. 任何损害其他第三方合法权益的；
        </p>
        <p class="agreeMain-p">
          11. 进行商业广告行为的；
        </p>
        <p class="agreeMain-p">
          12. 其他违背社会公共利益或公共道德或依据您与顺唐生物相关协议、规则的规定不适合在顺唐生物提供的网络服务载体上发布的。
        </p>
        <p class="agreeMain-p">
          为保证客户体验，您不得以任何形式转售我们的产品、服务、以及产品相关的任何内容，包括网站信息、内容设计、报告内容等涉及顺唐生物知识产权及智力、知识成果的一切相关服务及行为。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          服务协议终止
        </p>
        <p class="agreeMain-p">
          顺唐生物在以下情况下，可以与您终止服务协议：
        </p>
        <p class="agreeMain-p">
          1. 按照法律规定或主管部门的要求；
        </p>
        <p class="agreeMain-p">
          2. 您违反了服务协议或相关的协议；
        </p>
        <p class="agreeMain-p">
          3. 出于安全的原因或其他必要的情形；
        </p>
        <p class="agreeMain-p">
          4. 您所购买的服务项目顺唐生物已经不再提供。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          免责条款
        </p>
        <p class="agreeMain-p">
          由于您提供联系方式（包括但不限于电话号码，通信地址，电子邮件）的错误或因变更没有及时更改个人信息导致的服务障碍，顺唐生物不承担任何责任。
        </p>
        <p class="agreeMain-p">
          由于您将个人账户、密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露，顺唐生物不承担任何责任。
        </p>
        <p class="agreeMain-p">
          由于非顺唐生物责任导致的时间延误（包括但不限于用户原因导致的DNA采集失败，物流公司原因导致的投递延迟及不可抗力导致的时间延误等），顺唐生物不承担任何责任。
        </p>
        <p class="agreeMain-p">
          若因网络、供应商等非顺唐生物控制范围内的硬件故障或其它不可抗力而导致暂停服务，您认可此等情况属于不可抗力，对于暂停服务期间造成的一切不便与损失，顺唐生物不承担任何责任。
        </p>
        <p class="agreeMain-p">
          根据行业实际操作标准与顺唐生物样本检测合格标准，正常检测结果存在个别位点可能未检出、从而导致个别项目无结果的可能性，此种情形不属于产品服务质量问题，顺唐生物不因此承担任何责任。
        </p>
        <p class="agreeMain-p">
          因各基因检测公司核心技术不同，顺唐生物不承诺本公司检测结果与其他检测机构检测结果完全一致。您认可并同意，与其他检测机构检测结果的差别不属于产品和服务质量问题，顺唐生物不因此承担任何责任。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p font-weight-bold">
          其他
        </p>
        <p class="agreeMain-p">
          本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国法律；如法律无相关规定的，参照商业惯例及/或行业惯例。
        </p>
        <p class="agreeMain-p">
          您因使用顺唐生物服务所产生及与服务有关的争议，由顺唐生物与您协商解决。协商不成时，由顺唐生物所在地有管辖权的法院进行管辖。
        </p>
      </div>

    </div>


  </div>
</div>
