<div class="container pad-0-18">

  <div class="agreeMain ">

    <h2 class="agreeMain-tit"  >顺唐生物价格保护规则</h2>

    <div class="pad-0-18">
      <div class="agreeMain-wrap">
        <p class="agreeMain-p">
          顺唐生物科技（北京）有限公司（以下简称“顺唐生物”），其服务及产品价格会随市场价格的波动产生价格变化，下单后订单中某种产品很可能出现降价，出于消费者利益考虑，特针对顺唐生物线上销售产品（仅包括通过顺唐生物官网、微信公众号销售的产品）推出价格保护服务。您在顺唐生物线上原价购买顺唐生物检测服务产品并付款后，如在《顺唐生物价格保护规则》规定的价保有效时间内产品出现降价，您可以按 《顺唐生物价格保护规则》规定的申请方式，申请降价差额返还，顺唐生物将按照您订单的原支付路径退还差价。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p">
          一.保护原则
        </p>
        <p class="agreeMain-p">
          • 订单类型：原价购买的顺唐生物线上的检测服务；
        </p>
        <p class="agreeMain-p">
          • 价保有效期：支付成功后15天内；
        </p>
        <p class="agreeMain-p">
          • 申请方式：请联系 shuntang-admin@shuntangbiotech.com，申请保价须根据顺唐生物工作人员要求提供必要的证明材料；
        </p>
        <p class="agreeMain-p">
          • 返还路径：按照支付订单原路径返回。
        </p>
      </div>

      <div class="agreeMain-wrap">
        <p class="agreeMain-p">
          二.不享受价格保护说明
        </p>
        <p class="agreeMain-p">
          1、非顺唐生物线上（顺唐生物微信公众号：顺唐生物；官方网站www.shuntangbiotech.com）购买的检测服务产品不支持价保；
        </p>
        <p class="agreeMain-p">
          2、非原价（原价系指未享受任何优惠的原标准价格）购买的检测服务产品不支持价保；
        </p>
        <p class="agreeMain-p">
          3、非个人消费者的商业采购订单不支持价保；
        </p>
        <p class="agreeMain-p">
          4、无效订单、未付款订单不支持价保，如已申请取消或已删除的订单、已经申请售后、已经申请退款的订单不支持价保；
        </p>
        <p class="agreeMain-p">
          5、超过价保有效期的订单不支持价保。
        </p>
      </div>
      <div class="agreeMain-wrap">
        <p class="agreeMain-p">
          三.价保规则实施日期及解释
        </p>
        <p class="agreeMain-p">
          1、本规则自2019年6月1日起实施，在实施日前的订单不支持价保；
        </p>
      </div>

    </div>


  </div>
</div>
